.switch {
    width: 30px;
    padding: 5px;
    border-radius: 3px;
    color: whitesmoke;
    background-color: red;
    text-align: center;
    cursor: pointer;
}

.switch.switch--enabled {
    background-color: green;
}

#container {
    border: 1px solid brown;
    position: relative;
    width: 400px;
    height: 600px;
    left: 50%;
    transform: translateX(-50%);
}
