$animation-duration: 0.2s;
.tooltip {
    position: absolute;
    min-width: 100px;
    min-height: 20px;
    &__body {
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white; // top: 0px;
    }
    &__tongue {
        position: absolute;
        fill: blue;
        svg {
            position: absolute;
        }
    }
    &--outside{
        opacity: 0.3;
    }
    $positions: top right bottom left;
    $degrees: 0;
    @each $pos in $positions {
        &--#{$pos} & {
            &__tongue {
                svg {
                    transform: translate3d(-50%, -50%, 0) rotateZ(#{$degrees}deg);
                }
            }
        }
        &--#{$pos}.animate {
            pointer-events: none;
            &.enter {
                opacity: 0;
            }
            &.enter.enter-active {
                animation: fade-in-#{$pos} ease-out $animation-duration;
            }
            &.leave.leave-active {
                animation: fade-in-#{$pos} reverse ease-out $animation-duration;
            }
        }
        $degrees: $degrees+90;
    }
}

$animation-translate: 20px;
@keyframes fade-in-top {
    from {
        opacity: 0; // top: 20px; 
        transform: translateY($animation-translate);
    }
    to {
        opacity: 1;
        transform: translateY(0); // top: 0;
    }
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(-$animation-translate);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX($animation-translate);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-$animation-translate);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#debug-element-container {
    opacity: 0.3;
    border: 1px solid #FF7560;
    position: absolute;
    pointer-events: none;
}
