$animation-duration: 0.2s;
.tooltip {
    position: absolute;
    min-width: 100px;
    min-height: 20px;
    &__body {
        padding: 5px;
        background-color: #000000;
        color: white;
    }
    &__arrow {
        position: absolute;
        fill: #000000;
        svg {
            position: absolute;
        }
    }
    &--outside {
        pointer-events: none;
        visibility: hidden;
        &__arrow {
            visibility: hidden;
        }
    }
    $positions: top right bottom left none;
    $degrees: 0;
    &.animate {
        animation-duration: $animation-duration;
        animation-timing-function: ease-out;
    }
    @each $pos in $positions {
        &--#{$pos} & {
            &__arrow {
                svg {
                    transform: translate3d(-50%, -50%, 0) rotateZ(#{$degrees}deg);
                }
            }
        }
        &--#{$pos}.animate {
            pointer-events: none;
            &.enter {
                opacity: 0;
            }
            &.enter.enter-active {
                animation-name: fade-in-#{$pos};
            }
            &.leave.leave-active {
                animation-name: fade-in-#{$pos};
                animation-direction: reverse;
            }
        }
        $degrees: $degrees+90;
    }
    &--none {
        &__arrow {
            visibility: hidden;
        }
    }
}

$animation-translate: 20px;
@keyframes fade-in-top {
    from {
        opacity: 0;
        transform: translateY($animation-translate);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(-$animation-translate);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX($animation-translate);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-$animation-translate);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-none {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#debug-element-container {
    opacity: 0.3;
    border: 1px solid #FF7560;
    position: absolute;
    pointer-events: none;
}
